<div id="integrations" >
    <h1>Integrations</h1>

    <ul class="nav nav-tabs">
        <li ui-sref-active="active" heading="Deployments" class="active">
            <a ui-sref=".deployments">Deployments</a>
        </li>

        <li ui-sref-active="active" heading="Logs" class="">
            <a ui-sref=".logs" >Logstash</a>
        </li>
        <li ui-sref-active="active" heading="Users" class="">
            <a ui-sref=".users">Users</a>
        </li>
    </ul>

    <div class="tab-content">
        <div ui-view></div>
    </div>

</div>